<div id="home" class="d-none">
  <div class="splash-container w-100 d-flex flex-column justify-content-center">
    <div class="d-flex flex-column align-center align-items-center">
      <%= link_to "Already registered - Login", root_path, class: "btn btn-main-color my-3", role: "button" %>
      <%= link_to "Don't have an account - Register", root_path, class: "btn btn-second-color my-3", role: "button" %>
    </div>
  </div>
</div>